body {
    font-family: 'JetBrains Mono';
    background-color: #000000;
  }

  .container {
    width: 350px;
    padding: 16px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ffffff;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
  }

  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'JetBrains Mono';
  }

  button:hover {
    border: 1px #000000 solid;
    background: white;
    color: black;
  }
