<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/homepage.css">

</head>

<body>
    <header>
        <ul id="navBar">
            <div>
                <h1 id="title">Hot 'N Slicy</h1>
            </div>
            <div>
                <form action="/logout" method="post">
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
            <div>
                <a th:href="@{/users/profile}" class="button-link">
                    <button class="profile-button" type="button">Profile</button>
                </a>
            </div>
        </ul>
    </header>
    <form id="searchForm" action="/restaurants/search" method="get">
        <input type="text" id="searchInput" name="keyword" placeholder="Search your pizza *"
               th:value="${keyword}">
        <button class="search-button" type="submit">Search</button>
        <div id="suggestions"></div>
    </form>
    
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <script th:inline="javascript" type="text/javascript" src="/js/homepage.js"></script>
</body>

</html>