<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>[[${restaurant.name}]]</title>
    <link rel="stylesheet" href="/css/restaurant.css">
</head>

<body>
    <h1>[[${restaurant.name}]]</h1><br />

    <h3>Leave a review here!</h3><br />

    <ul th:each="review : ${resReviews}">
        <div id="review-box">
            <div><b>[[${review.user[0].email}]]</b>: [[${review.reviewContents}]]</div>
        </div><br />
    </ul>


    <div>
        <textarea id="message-input" th:attr="restaurant-id=${restaurant.id}"
            placeholder="Type your review..."></textarea>
        <button id="send-button">Send</button>
    </div>

    <div>
        <a href="/homepage">Back</a><br />
    </div>

    <script th:inline="javascript" type="text/javascript" src="/js/restaurant.js"></script>
</body>

</html>