<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>[[${restaurant.name}]]</title>
    <link rel="stylesheet" href="/css/restaurant.css">
</head>

<body>
    <div id="header">
        <h1 style="color: #C84C4C; margin: 30px;">[[${restaurant.name}]]</h1><br />
        <div>
            <a id="homepageLink" href="/homepage">Homepage</a>
            <a id="profileLink" href="/users/profile">Profile</a>
        </div>
    </div>

    <h3 style="margin: 30px" ;>Leave a review here!</h3><br />

    <div id="box">
        <div th:each="review : ${resReviews}">
            <div id="review-box">
                <div><b style="color: #C84C4C;">[[${review.user[0].firstName}]]
                        [[${review.user[0].lastName}]]:</b> <b style="color: black;">[[${review.reviewContents}]]</b></div>
            </div><br />
        </div>
    </div>

    <div id="footer">
        <textarea id="message-input" th:attr="restaurant-id=${restaurant.id}"
            placeholder="Type your review..."></textarea>
        <button id="sendButton">Send</button>
    </div>
    <script th:inline="javascript" type="text/javascript" src="/js/restaurant.js"></script>
</body>

</html>