<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="/css/userProfile.css">
    </head>
    <body>
        <h1>Welcome, [[${user.firstName}]]</h1>

        <h3>Here are all of the reviews you've given!</h3><br/>

        <ul th:each="review : ${resReviews}">
            <div id="review-box"> <b>[[${review.restaurant.name}]]</b>: [[${review.reviewContents}]]</div><br />
        </ul>

        <div>
            <a href="/homepage">Back</a><br />
        </div>
    </body>
</html>