<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Welcome, [[${user.firstName}]]</h1>
        <h3>This is your user profile! In here you should see your personal <br/>
            information along with comments and reviews you've given and <br/>
            the item that they are attached to. These items should have a link <br/>
            to go to the products page.
        </h3>
        <div>
            <a href="/success">Back</a><br />
        </div>
    </body>
</html>