<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/userProfile.css">
</head>

<body>
    <div id="header">
        <h1 style="color: #C84C4C; margin: 30px;">Welcome, [[${user.firstName}]]</h1>
        <div>
            <a id="homepageLink" href="/homepage">Homepage</a><br />
        </div>
    </div>

    <div style="margin: 30px;">
        Here are all of the reviews you've given!
    </div>
    <div id="box">
        <div th:each="review : ${resReviews}">
            <div id="review-box">
                <a id="rrURL"
                    th:href="@{/restaurants/{id}(id=${review.restaurant.id})}"><b>[[${review.restaurant.name}]]:</b></a>
                <span style="color: black;"> [[${review.reviewContents}]]</span><br />
                <form id="buttonPosition" th:action="@{/users/profile/delete}" method="post">
                    <input type="hidden" name="reviewId" th:value="${review.reviewId}" />
                    <button id="deleteButton" type="submit">Delete Review</button>
                </form>
            </div><br />
        </div>
    </div>
</body>

</html>