<!DOCTYPE html>
<html>

<head>
    <title>Hot 'N Slicy</title>
</head>

<body>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="width: 693px; height: 157px; left: 109px; top: 261px; position: absolute; background: #080000">
        </div>
        <div
            style="width: 376px; height: 63px; left: 370px; top: 380px; position: absolute; 
            text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 300; 
            line-height: 24px; word-wrap: break-word">A WEBSITE FOR PIZZA</div>
        <div
            style="left: 204px; top: 290px; position: absolute; text-align: center; color: white; 
            font-size: 96px; font-family: Inter; font-weight: 700; line-height: 96px; word-wrap: break-word">
            Hot ‘N Slicy</div>
        <div
            style="width: 232px; height: 157px; left: 848px; top: 261px; position: absolute; 
            background: white; border: 1px black solid">
        </div>
        <div>
            <a th:href="@{/signin}" class="button-link">
                <button type="button" style="left: 971px;top: 321px;position: absolute; text-align: center;
                color: black;font-size: 15px; font-family: Inter;font-weight: 700;line-height: 15px;
                width: 98px; height: 29px; background: white; border: 1px black solid;">Sign-In</button>
            </a>
        </div>
        <div
            style="left: 857px; top: 272px; position: absolute; text-align: center; color: black; font-size: 15px; 
            font-family: Inter; font-weight: 700; line-height: 15px; word-wrap: break-word">
            What you can do</div>
        <div>
            <a th:href="@{/register}" class="button-link">
                <button type="button" style="left: 971px;top: 374px; position: absolute; text-align: center;
                color: black; font-size: 16px; font-family: Inter; font-weight: 700;line-height: 16px;
                word-wrap: break-word; width: 98px; height: 29px; background: white; border: 1px black solid;">
                Register</button>
        </div>
        <div
            style="width: 275px; height: 0px; left: 825px; top: 204px; position: absolute; transform: rotate(90deg); 
            transform-origin: 0 0; border: 1px black solid">
        </div>
        <div
            style="left: 623px; top: 551px; position: absolute; text-align: center; color: black; 
            font-size: 24px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">
            AND THE PEOPLE WHO EAT IT </div>
    </div>
</body>

</html>