<!DOCTYPE html>
<html>

<head>
    <title>Hot 'N Slicy</title>
    <style>
        /* add css into here to clean up */
    </style>
</head>

<body>
    <div class="container" style="width: 1200px; height: 720px; position: relative; background: white;
         margin: 0 auto;">
        <div class="Border" style="width: 1115px; height: 605px; left: 41px; top: 52px; position: absolute; 
            background: white; border: 1px black solid">
        </div>
        <div style="width: 693px; height: 157px; left: 109px; top: 261px; position: absolute; background: #080000">
        </div>
        <div style="left: 130px; top: 290px; position: absolute; text-align: center; color: white; 
                font-size: 90px; font-family: 'JetBrains Mono'; font-weight: 700; line-height: 96px; word-wrap: break-word">
            HOT ‘N SLICY
        </div>
        <div style="width: 376px; height: 63px; left: 395px; top: 380px; position: absolute; 
                text-align: center; color: white; font-size: 24px; font-family: 'JetBrains Mono'; font-weight: 300; 
                line-height: 24px; word-wrap: break-word">A WEBSITE FOR PIZZA
        </div>
        <div style="width: 232px; height: 157px; left: 848px; top: 261px; position: absolute; 
            background: white; border: 1px black solid">
        </div>
        <div style="left: 857px; top: 272px; position: absolute; text-align: center; color: black; font-size: 15px; 
            font-family: 'JetBrains Mono'; font-weight: 700; line-height: 15px; word-wrap: break-word">
            What you can do
        </div>
        <div>
            <a th:href="@{/signin}" class="button">
                <button type="button" style="left: 971px;top: 321px;position: absolute; text-align: center;
                color: black;font-size: 15px; font-family: 'JetBrains Mono';font-weight: 700;line-height: 15px;
                width: 98px; height: 29px; background: white; border: 1px black solid;">Sign-In
                </button>
            </a>
        </div>
        <div class="button">
            <a th:href="@{/register}" class="button">
                <button type="button" style="left: 971px;top: 374px; position: absolute; text-align: center;
                color: black; font-size: 16px; font-family: 'JetBrains Mono'; font-weight: 700;line-height: 16px;
                word-wrap: break-word; width: 98px; height: 29px; background: white; border: 1px black solid;">
                    Register
                </button>
        </div>

        <div style="width: 275px; height: 0px; left: 825px; top: 204px; position: absolute; transform: rotate(90deg); 
            transform-origin: 0 0; border: 1px black solid">
        </div>
        <div
            style="left: 623px; top: 551px; position: absolute; text-align: center; color: black; 
            font-size: 24px; font-family: 'JetBrains Mono'; font-weight: 700; line-height: 24px; word-wrap: break-word">
            AND THE PEOPLE WHO EAT IT
        </div>
    </div>
</body>

</html>